<div [ngClass]="{'card-selected': movieSelectedId == movieDto.id, 'card' : movieSelectedId != 'movieDto.id' }" (click)="goToMovieDetails()">
    <div class="card-image">
        <img [src]="movieDto.imageUrl">
        <div class="dark-curtain">
            <div class="container">

                <span class="title">
                    {{movieDto.title}}
                </span>

                <p
                    [ngClass]="{'rating-green': movieDto.rating >= 8, 'rating-orange' : movieDto.rating < 8 && movieDto.rating >= 5, 'rating-red' : movieDto.rating < 5}">
                    {{movieDto.rating}}</p>

                <p class="overview">
                    {{(movieDto.overview.length > 60) ? (movieDto.overview | slice:0:60)+'...' : (movieDto.overview)}}
                </p>

            </div>
        </div>
    </div>
</div>