@import "../../utils/variables.scss";

.card {
    width: 170px;
    height: 200px;
    // background-color: white;
    box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2);
    margin: 20px;
    // border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    .card-image {
        border-radius: 3px 3px 0 0;
        /* height: 170px; */
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            transition-duration: 0.3s;

            .dark-curtain {
                border-radius: 3px 3px 0 0;
                display: hide;
                position: relative;
                width: 170px;
                height: 200px;
                background-color: rgba(0, 0, 0, 0);
                transition: 0.3s;
            }

            .dark-curtain:hover {
                display: block;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.card:hover {
    transition: 0.3s;
    box-shadow: 0 10px 20px 0 rgba(66, 66, 66, 0.2);
}

.card-selected {
    width: 170px;
    height: 200px;
    background-color: $primary;
    box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2);
    margin: 20px;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    .text-holder {
        span {
            transition: 0.3s;
            color: white;
        }

        p {
            transition: 0.3s;
            color: white;
        }
    }
}
