@import "../../utils/variables.scss";

.card {
    width: 170px;
    height: 200px;
    // box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2);
    margin: 20px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    .card-image {
        border-radius: 3px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* filter: grayscale(1); */
            transition-property: filter width;
            transition-duration: 0.3s;
        }

        .dark-curtain {
            display: hide;
            position: relative;
            width: 170px;
            height: 200px;
            background-color: rgba(0, 0, 0, 0);
            transition: 0.3s;

            span {
                color: rgba(0, 0, 0, 0);
                transition: 0.3s;
            }
        }

        .dark-curtain:hover {
            display: block;
            background-color: rgba(0, 0, 0, 0.7);

            span {
                color: $main-text-color;
                transition: 0.3s;
            }
        }
    }
}

.card:hover {
    transition: 0.3s;
    box-shadow: 0 10px 20px 0 rgba(66, 66, 66, 0.2);

    .card-image img {
        width: 110%;
    }
}

.card-selected {
    width: 170px;
    height: 200px;
    background-color: $primary;
    box-shadow: 0 3px 8px 0 rgba(66, 66, 66, 0.2);
    margin: 20px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;

    .text-holder {
        span {
            transition: 0.3s;
            color: white;
        }

        p {
            transition: 0.3s;
            color: white;
        }
    }
}
