@import "../../utils/variables.scss";

.back {
    height: 100%;
    background-color: black;

    .drawer-container {
        height: 100%;

        .refresh-holder {
            position: absolute;
            text-align: center;
            width: 22px;
            right: 0;
            top: 0;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            border-radius: 200px;

            .icon-class {
                color: $main-text-color;
            }
        }

        .loader {
            width: 100%;
            height: 100%;
            text-align: center;

            .loader-spiner {
                display: block;
                margin: auto;
                margin-top: 180px;
            }
        }

        .background {
            background-color: black;
            padding-top: 50px;
            padding-bottom: 50px;

            .cards-holder {
                /* width: 100%; */
                text-align: center;
                margin: auto;

                .card-holder {
                    display: inline-block;
                }
            }
        }
    }
}
