<div class="back">
    <div class="drawer-container">

        <div class="sidenav-content">
            <div matRipple class="refresh-holder" (click)="refreshData()">
                <mat-icon class="icon-class">refresh</mat-icon>
            </div>

            <div *ngIf="loading" class="loader">
                <mat-spinner class="loader-spiner"></mat-spinner>
            </div>

            <div *ngIf="movieDtoList.length > 0" class="background">

                <div class="cards-holder" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()">
                    <div *ngFor="let movieDto of movieDtoList" class="card-holder">
                        <card-component (click)="selectMovie(movieDto)" [movieDto]="movieDto">
                        </card-component>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>